body{
    list-style: none;
    background: azure;
    background-size: cover;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin: 0px auto;
    width: 810px;
    font-size: 20px;
}
header{
    background-color: greenyellow;
    border: 5px solid mediumpurple;
}

footer{
    background-color: greenyellow;
    border: 5px solid mediumpurple;
}

.bar{
    height: 40px;
    margin-top: -5px;
    background-color: darkgreen;
    border: 5px solid mediumpurple;
    top: 185px;
}
.main {
    height: fit-content;
    background-color: darkgreen;
    border: 20px solid rebeccapurple;
    color: pink;
    font-size: 24px;
}
ul{
    list-style: none;

}

ul{
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: center;

}

ul li{
    float: left;
    width: 266.6666px;
    height: 40px;
    background-color: black;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}
ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
ul li a:hover{
    background-color: chartreuse;
    color: black;
}
ul li ul li{
    display: none;
    opacity: 0.8;

}
ul li:hover ul li{
    display: block;
}

.rl_gallery{
     margin: 10px 50px;
 }
.rl_gallery img {
    transition: 1s;
    padding: 15px;
    width: 200px;
}
.rl_gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
.gallery_1_and_2{
    margin: 10px 50px;
}
.gallery_1_and_2 img {
    transition: 1s;
    padding: 15px;
    height: 40%;
    width: 40%;
}
.gallery_1_and_2 img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
.news{
    font-size: 24;
    color: azure;
}